Repository PWN-Term/pwn-packages, changes with the owners that CODEOWNERS names for each.
All owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr, @thunder-coding, @DLC01, @ian4hu, @kcubeterm, @librehat, @msoose, @michalbednarski, @MrAdityaAlok, @Neo-Oli, @suhan-paradkar, @Yonle, @rafaelmartins, @craigcomstock, @PuneetGopinath, @truboxl, @ravener, @medzikuser, @kcotugno, @WMCB-Tech, @waruqi

CODEOWNERS:

# Default assignment: frequent contributors from @termux.
* @buttaface @Grimler91 @landfillbaby @xeffyr

# GitHub Actions.
/.github/workflows/ @xeffyr

# Build system.
/build-all.sh @Grimler91 @xeffyr
/build-package.sh @Grimler91 @xeffyr
/clean.sh @Grimler91 @xeffyr
/scripts/ @Grimler91 @xeffyr

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# Repository utilities.
/scripts/bin/ @xeffyr

# Packages owned by @buttaface
/packages/kak-lsp/ @buttaface
/packages/libdispatch/ @buttaface
/packages/libllvm/ @buttaface
/packages/llbuild/ @buttaface
/packages/swift/ @buttaface

# Packages owned by @DLC01
/packages/exhale/ @DLC01
/packages/fdkaac/ @DLC01
/packages/libfdk-aac/ @DLC01

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/game-repo/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/science-repo/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @ian4hu
/packages/php-apcu/ @ian4hu
/packages/php-imagick/ @ian4hu
/packages/php-psr/ @ian4hu
/packages/php-zephir-parser/ @ian4hu
/packages/re2c/ @ian4hu

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @librehat
/packages/flatbuffers/ @librehat
/packages/mimetic/ @librehat

# Packages owned by @msoose
/packages/dns2tcp/ @msoose
/packages/proxmark3/ @msoose
/packages/proxmark3-git/ @msoose
/packages/recode/ @msoose

# Packages owned by @michalbednarski
/packages/proot/ @michalbednarski
/packages/termux-am/ @michalbednarski

# Packages owned by @MrAdityaAlok
/packages/helix/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/lua-language-server/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @Neo-Oli
/packages/cava/ @Neo-Oli
/packages/colordiff/ @Neo-Oli
/packages/ed/ @Neo-Oli
/packages/libmesode/ @Neo-Oli
/packages/libotr/ @Neo-Oli
/packages/libsignal-protocol-c/ @Neo-Oli
/packages/nyancat/ @Neo-Oli
/packages/par2/ @Neo-Oli
/packages/profanity/ @Neo-Oli
/packages/tsocks/ @Neo-Oli
/packages/tty-clock/ @Neo-Oli

# Packages owned by @suhan-paradkar
/packages/libsecret/ @suhan-paradkar
/packages/mailutils/ @suhan-paradkar

# Packages owned by @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @xeffyr
/packages/at/ @xeffyr
/packages/beanshell/ @xeffyr
/packages/btfs/ @xeffyr
/packages/build-essential/ @xeffyr
/packages/clamav/ @xeffyr
/packages/codecrypt/ @xeffyr
/packages/cryptopp/ @xeffyr
/packages/dbus/ @xeffyr
/packages/distcc/ @xeffyr
/packages/e2fsprogs/ @xeffyr
/packages/exiftool/ @xeffyr
/packages/fakeroot/ @xeffyr
/packages/fdroidcl/ @xeffyr
/packages/geoip2-database/ @xeffyr
/packages/geth/ @xeffyr
/packages/gitea/ @xeffyr
/packages/go-findimagedupes/ @xeffyr
/packages/gopass/ @xeffyr
/packages/haproxy/ @xeffyr
/packages/ipfs/ @xeffyr
/packages/kubectl/ @xeffyr
/packages/libice/ @xeffyr
/packages/libmcrypt/ @xeffyr
/packages/libmhash/ @xeffyr
/packages/libseccomp/ @xeffyr
/packages/libsixel/ @xeffyr
/packages/libsm/ @xeffyr
/packages/libx11/ @xeffyr
/packages/libxau/ @xeffyr
/packages/libxcb/ @xeffyr
/packages/libxcursor/ @xeffyr
/packages/libxdmcp/ @xeffyr
/packages/libxext/ @xeffyr
/packages/libxfixes/ @xeffyr
/packages/libxft/ @xeffyr
/packages/libxi/ @xeffyr
/packages/libxrandr/ @xeffyr
/packages/libxrender/ @xeffyr
/packages/libxss/ @xeffyr
/packages/libxtst/ @xeffyr
/packages/libxt/ @xeffyr
/packages/lua-lpeg/ @xeffyr
/packages/openldap/ @xeffyr
/packages/proot-distro/ @xeffyr
/packages/qemu-system-x86-64-headless/ @xeffyr
/packages/restic-server/ @xeffyr
/packages/seccure/ @xeffyr
/packages/shtool/ @xeffyr
/packages/srelay/ @xeffyr
/packages/ssss/ @xeffyr
/packages/steghide/ @xeffyr
/packages/termux-auth/ @xeffyr
/packages/tk/ @xeffyr
/packages/ttf-dejavu/ @xeffyr
/packages/unstable-repo/ @xeffyr
/packages/virustotal-cli/ @xeffyr
/packages/vis/ @xeffyr
/packages/x11-repo/ @xeffyr
/packages/xcb-proto/ @xeffyr
/packages/xorgproto/ @xeffyr
/packages/xorg-util-macros/ @xeffyr
/packages/xtrans/ @xeffyr

# Packages owned by @Yonle
/packages/chafa/ @Yonle
/packages/fluidsynth/ @Yonle

# Misc
/packages/blogc/ @rafaelmartins
/packages/cfengine/ @craigcomstock
/packages/composer/ @PuneetGopinath
/packages/emscripten/ @truboxl
/packages/germanium/ @ravener
/packages/gotop/ @medzikuser
/packages/rust/ @kcotugno
/packages/squashfs-tools-ng/ @WMCB-Tech
/packages/xmake/ @waruqi

Update README.md
  README.md
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

Force nethunter-support to be built again
  packages/nethunter-support/build.sh
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

Rebuild nethunter-support
  packages/nethunter-support/build.sh
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

Rebuild nethunter-support
  packages/nethunter-support/build.sh
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

bump up the revision for nethunter-support
  packages/nethunter-support/build.sh
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

Bump up nethunter-support version
  packages/nethunter-support/build.sh
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

Update link for base
  packages/base/build.sh
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

Lets use our own pwn docker image to build things
  .github/workflows/packages.yml
  scripts/Dockerfile
  scripts/run-docker.ps1
  scripts/run-docker.sh
  scripts/update-docker.ps1
  scripts/update-docker.sh
Owners: @xeffyr, @Grimler91

Update docker_image.yml
  .github/workflows/docker_image.yml
Owners: @xeffyr

Make sure to add dev pkg of wayland to ubuntu setup script
  scripts/setup-ubuntu.sh
Owners: @Grimler91, @xeffyr

Dont push our dokcer image to termux repo
  .github/workflows/docker_image.yml
Owners: @xeffyr

Trigger docker build once again
  scripts/run-docker.sh
Owners: @Grimler91, @xeffyr

Trigger docker workflow
  scripts/setup-android-sdk.sh
Owners: @Grimler91, @xeffyr

Mistakes were found ( docker workflow )
  .github/workflows/docker_image.yml
Owners: @xeffyr

Update Dockerfile
  scripts/Dockerfile
Owners: @Grimler91, @xeffyr

Rebuild base package
  packages/base/build.sh
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

Update sha256 of base pkg
  packages/base/build.sh
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

Re-add support for runc
  packages/runc/build.sh
  packages/runc/cg-cpuset-noprefix-compat.patch
  packages/runc/libcontainer-container_linux.go.patch
  packages/runc/libcontainer-nsenter-cloned_binary.c.patch
  packages/runc/root-dir-path.patch
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

Add support for containerd
  packages/containerd/Makefile.patch
  packages/containerd/build.sh
  packages/containerd/bundle.go.patch
  packages/containerd/config.toml
  packages/containerd/database.go.patch
  packages/containerd/md2man.go.patch
  packages/containerd/util_unix.go.patch
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

Trigger git pkg build workflow
  packages/git/build.sh
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

[ PWN ]: Add docker to the packages
  packages/docker/build.sh
  packages/docker/daemon.json
  packages/docker/dockerd.sh
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

Rebuild our own modified jdk17/openjdk-17
  packages/openjdk-17/BUILD_LIBSPLASHSCREEN.patch
  packages/openjdk-17/Fix-StackOverflowError-on-ARM.patch
  packages/openjdk-17/Libfontmanager-Fix-for-library-dependency.patch
  packages/openjdk-17/always-compile-with-pic.patch
  packages/openjdk-17/android11.patch
  packages/openjdk-17/build.sh
  packages/openjdk-17/iconv.patch
  packages/openjdk-17/libraries.m4.patch
  packages/openjdk-17/no-func-redef.patch
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

Update repo url for .deb packages
  scripts/build/termux_step_setup_variables.sh
Owners: @Grimler91, @xeffyr

Make sure to compile our command-not-found
  packages/command-not-found/build.sh
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

Update command-not-found sha256
  packages/command-not-found/build.sh
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

Switch jdk-17 back to stable commit
  packages/openjdk-17/build.sh
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

Trigger openssh build
  packages/openssh/build.sh
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr

Update repo url
  scripts/build/termux_step_setup_variables.sh
Owners: @Grimler91, @xeffyr

Update build.sh
  packages/openssh/build.sh
Owners: @buttaface, @Grimler91, @landfillbaby, @xeffyr
